body {
    background-image: url('bg.jpg');
    border: 2px solid red;
    height: 100vh; 
    background-repeat: repeat-x;
    background-position: bottom left;
    background-color: #0212fe;
}

#mario {
    vertical-align: middle;
    border-style: none;
    position: absolute;
    bottom: 83px;
    right: 38%;
    height: 120px;
}

#mario2 {
    vertical-align: middle;
    border-style: none;
    position: absolute;
    bottom: 83px;
    right: 38%;
    height: 120px;
}

.none {
    display: none;
}