body{
    padding: 0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.cf:before,
.cf::after{
    content: "";
    display: table;
    clear: both;
}


.container1{
    background-image: url("images/banner3.jpg");
    background-size: cover;
    height: 800px;
    margin-top: 0;
    padding:0 20px 0 20px;
}

.container1 h1{
    word-spacing: 15px;
    text-align: center;
    color: white;
    margin: 0;
    position: relative;
    padding-top: 400px;
    font-size: 75px;
    font-weight: normal;
}

.container1 img{
    width: 200px;
    float: left;
    position: absolute;
    padding-top: 10px;
}

.container1 ul {
    float:right;
    list-style-type: none;
    margin-top: 30px;
    margin-right: 20px;
}

.container1 ul li{
    font-weight: bold;
    float:left;
    margin-left: 20px;
}

.container1 ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.container1 button{
    background-color: #236EAF;
    display: flex;
  justify-content: center;
  align-items: center;
    padding:10px 30px 10px 30px;
    border-radius: 16px;
    
   margin: 0 auto;
   margin-top: 40px;
    
}

.container1 button a{
    color: white;
    text-decoration: none;
    box-shadow: none;
}

.name h2{
    text-align: center;
    margin-bottom: 0;
    margin-top: 50px;
}

.name h3{
    display: flex;
    flex-direction: row;
    width: 30%;
    margin: 0 auto;
   
}

.name h3:before,
.name h3:after{
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #000;
    margin: auto;
}

.name h3 img{
    height: 20px;
    width: 20px;
    border-radius: 50px;
    margin: 0 auto;
}


.wrapper{
    width: 100%;
    margin: 0 auto;
}

.left{
    margin-left: 195px;

}



.card {
    float:left;
    width:20%;
    margin-top: 15px;
    height: 400px;
    margin-right: 25px;
}

.card p{
    line-height: 24px;
}

.card ul{
    padding-top: 30px;
}

.card ul li{
    list-style: url("images/yellow-p.png");
    line-height: 30px;
    font-size: 14px;
   
}

.card h3{
    color: #236EAF;
    font-size: 20px;
    font-weight: normal;
}

.img2{
    width:440px;
    height:400px
}


.none{
    width: 35%;
    margin: 0 auto;
    padding-top: 100px;
}

.wrapper2{
    width: 90%;
    margin:0 auto;
}



.card1{
    border: 1px solid lightblue ;
    background-color: #82c3f5;
    width: 28%;
    padding:20px;
    float: left;
    margin-left: 20px;
    margin-top:15px;
    margin-bottom: 100px;
}


.card1 p{
    color: white;
    
}

.card1 h3{
    display: inline;
    font-size: 14px;
}
.people{
    border-radius:100%;
    border:5px solid rgb(255, 250, 250);
    width: 100px;
    padding: 5px;

}

.star{
    display: inline;
    width: 100px;
    padding:0;
    margin-bottom: 30px;
}

.willy{
    display: inline-block;
    width: 100px;
    padding:0;
    margin-left: 20px;
}

.wrapper3{
    width: 100%;
    margin: 0;
    padding: 0;
}

.contact{
    background-color: rgb(88, 221, 104);
    color: white;
    text-align: center;
    padding: 10px;
}

.contact p em{
   margin-right: 5px;
}

.connect{
    background-color: rgb(194, 15, 54);
    color: white;
    text-align: center;
    padding: 10px;
}

.connect img{
    margin-right: 10px;
}

.address{
    background-color: rgb(3, 3, 128);
    color: white;
    text-align: center;
    padding: 10px;
    
}

.house{
    background-color: rgb(100, 143, 218);
    color: white;
    text-align: center;
    padding: 10px;

}

.card3{
    margin: 0;
    float:left;
width: 23.75%;
    height: 210px;
}

.new iframe{
    width: 100%;
    display: block;
}