.mid h3{
    text-align:center;
    margin-bottom: 0;
    font-size: 32px;
}

.mid h1 {
    margin: 10px auto;
    color:#228B22;
    text-align:center;
    font-size: 30px;
    position: relative;
}
.mid h1:before{
    content: "";
    display: block;
    width: 150px;
    height:1px;
    background: black;
    left: 790px;
    top: 50%;
    position: absolute;
}
.mid h1:after{
    content: "";
    display: block;
    width: 150px;
    height: 1px;
    background: black;
    right: 790px;
    top: 50%;
    position: absolute;
}