.first {
    display: inline-block;
  
    list-style-type: none;
}

.second{
    list-style-type: square;
}

.third{
    list-style-type: upper-alpha;
}

.forth{
    list-style-type: lower-roman;
}

.fifth{
    padding: 20px;
    width: 200px;
    list-style-image: url("images/back.png");
}