*{
    box-sizing: border-box;
}


body{
    padding: 0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.cf:before,
.cf::after{
    content: "";
    display: table;
    clear: both;
}

header .logo {
    margin: 0;
    color: white;
    float: left;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 2.5em;
  }

  header .logo2{
    display: none;
  }
  header ul {
    float: right;
    list-style-type: none;
    margin-right: 15px;
    margin-top: 25px;
  }

  header ul li a{
        text-decoration: none;
        color: white;
      }
  header ul li {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 0.9em;
  }
  header span {
    color: #fd9727;
    border: 3px solid white;
    border-right: none;
    margin-right: 10px;
  }
  .banner {
    height: 1100px;
    background-image: url(assets/images/banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner h1 {
    display: inline-block;
    margin: 0 auto;
    color: white;
    font-size: 60Px;
    letter-spacing: 5PX;
    text-align: center;
    width: 100%;
    font-weight: normal;
  }
  
  .heading {
    text-align: center;
    position: relative;
    top: 45%;
    margin: 0 auto;
  }
  .heading button {
    padding: 0;
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: #1c70b1;
    color: white;
    margin-top: 20px;
  }

/*>>>>DIAMOND<<<<*/
.mid h3{
    text-align:center;
    margin-bottom: 0px;
    font-size: 40px;
    font-weight: normal;
}

.mid h1 {
    margin: 10px auto;
    color:#228B22;
    text-align:center;
    font-size: 30px;
    position: relative;
}
.mid h1:before{
    content: "";
    display: block;
    width: 150px;
    height:2px;
    background: black;
    left: 770px;
    top: 45%;
    position: absolute; 
}
.mid h1:after{
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    background: black;
    right: 770px;
    top: 45%;
   position: absolute; 
}

/*WHO WE ARE*/


.about{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 500px;
}

.left{
    width: 30%;
    float: left;
    margin-right: 2%;
    line-height: 2em;

}

.right{
    width: 30%;
    float: left;
    margin-left: 2%;
    line-height: 2em;
}

.card p{
    line-height: 24px;
}

.card ul{
    padding-top: 30px;
}

.card ul li{
    list-style: url("assets/images/arrow_bullet.png");
    line-height: 30px;
    font-size: 14px;
   
   
}

.card h3{
    color:rgba(89,165,225,255);
    font-size: 26px;
    text-align:center;
    word-spacing: 3px;
    font-weight: normal;


}

.img2{
    width: 335px;
    float: left;
    margin-left:45px;
}



.none{
    width: 35%;
    margin: 0 auto;
    padding-top: 100px;
}

/* >> WHAT PEOPLE SAY<<< */


.others{
    width: 100%,
    margin: 0 auto;
    margin-top: 20px;
    display: inline-block;
    margin-left: 55px;
}

.card1{
    border: 1px solid lightblue ;
    background-color: #82c3f5;
    width: 30%;
    padding:10px;
    float: left;
    margin-left: 20px;
    margin-top:15px;
    margin-bottom: 100px;
    height: 250px;

}

.card1:nth-child(3n) {
    margin-right: 0;
}   
.card1 p{
    color: white;
    line-height: 28px;
    padding-top: 0;

}

.card1 h3{
    margin: 2px;
    font-size: 14px;
    font-weight: bold;
}
.people{
    border-radius: 100%;
    border:5px solid white;
    width: 100px;
    padding:5px;
    
    
}

.star{
    display: inline;
    width: 85px;
    padding: 0;
    margin-bottom:40px;
}

.willy{
    display: inline-block;
    width: 100px;
    padding:0;
    margin-left: 20px;
    white-space: nowrap;
    padding-top: 30px;
    font-weight: bold;
    
}

/* >> GET IN TOUCH WITH US << */

.contactUs{
    width: 100%;
    margin:0;
    padding: 0;
}

.card3{
    margin: 0;
    float:left;
width: 25%;
    height: 210px;
}

.card3 h4{
    font-size: 24px;
    font-weight: normal;
}

.contact{
    background-color:rgba(59,221,154,255) ;
    color: white;
    text-align:center;
    padding: 10px;
}

.connect{
    background-color: #fd5282;
    color: white;
    text-align:center;
    padding: 10px;
}

.address{
    background-color:rgba(55,109,228,255);
    color: white;
    text-align:center;
    padding: 10px;
}

.house{
    background-color: #82C3F5;
    color: white;
    text-align: center;
    padding: 10px;

}


.new iframe{
    width: 100%;
    display: block;
}


/*>>>Input<<<*/



.form{
    width: 75%;
    margin: 0 auto;
}

input{
    
    float: left;
    width: 320px;
    padding: 20px;
    margin-bottom: 5px;
    margin-right: 10px;
    position: relative;
}
textarea{
    margin-top: 15px;
    padding: 15px;
    
}

.btn{
    background-color: #fd9727;
    width: 150px;
    padding: 15px;
    color: white;
    box-shadow: 0px;
    margin-top: 20px;
    border: none;
    font-size: 20px;
    margin-left: 1px;
    
}

/*>> FOOTER <<*/


footer{
    background-color: #212121;
    color: white;
    padding: 40px;
    padding-bottom: 10px;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    text-align:center;

}


footer ul{
    padding-bottom: 15px;
}

footer ul li{
    display: inline;
    list-style-type: none;
    margin-right: 10px;
    
}

footer ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}





/*>>>>TABLETS<<<<<*/

@media only screen and (max-width: 1200px) { 

    header ul li a{
        text-decoration: none;
        color: white;
      }
    header .logo {
        margin:0;
        float: left;
        position: relative;
        margin-top: 10px;
        margin-left: 10px;
        width: 200px;
      }

      header .logo2{
        display: none;
      }

      .banner h1 {
        word-spacing: 0;
        display: inline-block;
        color: white;
        font-size: 24px;
        
        font-weight: bold;
      }
      
      .heading {
        text-align: center;
        position: relative;
        top: 45%;
        margin: 0 auto;
      } 

      .heading button {
        padding: 0;
        width:150px;
        height: 50px;
        border: none;
        border-radius: 35px;
        background-color: #1c70b1;
        color: white;
        margin-top: 20px;
        font-size: 16px;
      }
.secondline{
    display: none;
}
    
.mid h1:before{
    left:210px;
}
.mid h1:after{
    right:210px;
}


/*who we are*/
.about{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    margin-left: 100px;

}

.left{
    width: 50%;
}


 .card {
    float:left;
    margin-top: 15px;
    
} 

.right{
    width: 50%;
    line-height: 2em;
    text-align:left;
}

.card p{
    line-height: 24px;
}

.card h3{
    color:rgba(89,165,225,255);
    font-size: 20px;
    text-align:center;
    word-spacing: 3px;
    font-weight: normal;
  }

.img2{
    width: 39%;
    float: left;
    height: 300px;
}



/* >> WHAT PEOPLE SAY<<< */


.others{
    width: 100%;
    margin: 0 auto;
    display: inline-block;
}

.card1{
    border: 1px solid lightblue ;
    background-color: #82c3f5;
    width: 46%;
    float: left;
    height: 280px;
    margin-bottom: 0;
}

.card1 p{
    line-height: 24px;
}

/*GET IN TOUCH*/


.contactUs{
    width: 100%;
    margin:0;
    padding: 0;
}

.card3{
    margin: 0;
    float:left;
    width: 50%;
    height: 210px;
}

/*INPUT*/

input{
    display: inline-block;
    width: 150px;
     padding: 8px;
     margin-bottom: 5px;
     margin-right: 20px;
     position: relative;
 }
 textarea{
     width: 500px;
     margin-top: 15px;
     margin-right: 5px;
     padding: 15px;
     
 }

 .btn{
    background-color: #fd9727;
    width: 90px;
    padding: 8px;
    color: white;
    box-shadow: 0px;
    margin-top: 20px;
    border: none;
    font-size: 10px;
    
}


footer{
 font-size: 12px;
}

footer ul li a{
font-size: 12px;
}

}



@media only screen and (max-width: 768px){

header .logo {
        display: none;

      }

    header .logo2{
        margin: 0 auto;
        float: none;
        display: inline-block;
        width: 200px;
        height: 50px;
   margin-left: 140px;
    }



      header ul {
          padding-top: 15px;
          padding-bottom: 15px;
     width: 100%;
     margin: 20px auto;
     background-color:#82c3f5;
        float: none;
        list-style-type: none;
       padding-left: 0;
        text-align: center;
      }

      header ul li a{
        text-decoration: none;
        color: white;
      }
      header ul li {
        float: none;
       margin: 15px 0;
        color: white;
        font-weight: 600;
        letter-spacing: 2px;
        font-size: 1.5em;
      }
      header span {
        color: #fd9727;
        border: 6px solid grey;
        border-right: none;
        margin-right: 10px;
        padding-left: 10px;
      }
      .banner {
        height: 400px;
        background-image: url(assets/images/banner3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }
      .banner h1 {
        margin: 0 auto;
        color: white;
        font-size: 24px;
        text-align: center;
        width: 100%;
        font-weight: normal;
      }
      
      .heading {
        text-align: center;
        position: relative;
        top: 35%;
        margin: 0 auto;
      }


.mid h1:before{
    left: 250px;
}
.mid h1:after{
    right: 250px;
}

.what h1 h3{
    display: none;
}

/*>>>>WHO WE ARE<<<<<*/

.about{
    width: 90%;
    max-width: 1200px;
    margin-left: 0;

}

.left{
    width: 100%;
    margin-right: 0;
    margin-left: 50px;
}


.right{
    width: 100%;
    line-height: 2em;
    text-align:left;
    margin-left: 50px;

}

.card p{
    line-height: 24px;
}

.card h3{
    color:rgba(89,165,225,255);
    font-size: 24px;
    font-weight: bold;
    font-family: arial;
    text-align: left;
   
  }

.img2{
    width: 100%;
float: none;
    height: 100%;
}



/*>>>>ABOUT US<<<<*/


.others{
    width: 100%;
    margin: 0 auto;
    display: inline-block;
}

.card1{
    border: 1px solid lightblue ;
    background-color: #82c3f5;
    width: 100%;
    float: left;
    height: 260px;
    margin-bottom: 0;
}

.card1 h3{
    font-size: 16px;
    font-weight: 900;
}

.card1 p{
    line-height: 30px;
    font-weight: bold;
    margin-top: 0;
}

/*>>>>>>CONTACT US<<<<<<<*/

.contactUs{
    width: 100%;
    margin:0;
    padding: 0;
}

.card3{
    margin: 0;
    float:left;
    width: 100%;
    height: 180px;
}


.contact{
    height: 230px;
}

.connect img{
    margin-right: 28px
}

.address{
  height: 150px;
  line-height: 15px;
}

.house{
   height: 250px;

}

/*>>>INPUT<<<<<*/

input{
    display: inline-block;
    width: 100%;
     padding: 8px;
     margin-bottom: 20px;
     margin-right: 20px;
     position: relative;
 }
textarea{
     width: 100%;
     padding: 15px;
 }

 .btn{
    margin-top: 10px;
  }

}


   