p {
    margin:0;
    background-color: yellow;
    border-width: 5px;
}

.first, .third{
    border: 5px dotted red;
    padding: 50px;
}

.second{
    border: 5px solid green;
    padding-top: 50px;
}

.first{
    width: 300px;
    margin: 50px;
}
.second{
    width: 400px;
    margin: 0 auto;
}

.third{
    width: 200px;
    margin-left: 100px;
}