table{
    margin: auto;
    border-collapse: collapse;
}

.header{
    width: 50px;
    background-color:#AD2103;
    color:white;
}

table tr td{
    padding-top: 10px;
    padding-bottom: 10px;
}


table img{
    height: 100px;
}
table tr:nth-child(odd) td{
    background-color: rgba(245, 245, 245, 0.938);
}

table tr:hover td,
table tr:nth-child(odd):hover td{
    background-color: rgb(221, 186, 28);
}