body{
    padding:0;
    margin: 0;
    
}

.wrapper{
    width: 90%;
    margin: 0 auto;

}

.header{
    padding: 20px;
}

.name1{
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.header ul{
  float:right;
  margin:0;  
  height: 20px;
}

.header ul li {
    float: left;
    margin-right: 10px;
    list-style-type: none;
}

.header ul li a{
    color: blue;
    text-decoration: none;
}

.header ul li a.active{
    background-color: rgb(34, 121, 161);
    text-decoration: none;
    color: white;
    padding:15px;
    border-radius: 5px;
}

.image img{
width: 100%;
    
}