body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.header {
  padding: 20px;
  margin-top: 20px;
}

.name1 {
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.header ul {
  float: right;
  margin: 0;
  height: 20px;
}

.header ul li {
  float: left;
  margin-right: 10px;
  list-style-type: none;
}

.header ul li a {
  color: blue;
  text-decoration: none;
}

.header ul li a.active {
  background-color: #428bca;
  text-decoration: none;
  color: white;
  padding: 15px;
  border-radius: 5px;
}
.image img {
  width: 94%;
  border: 1px solid rgb(211, 206, 206);
  padding: 30px;
  height: 550px;
  margin-left: 15px;
  margin-right: 20px;
}

.hidden {
  display: none;
}

.container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.a1 {
  margin-right: 2px;
}

.left {
  float: left;
  width: 33%;
  height: 40px;
  margin-bottom: 40px;
}

/* RESPONSIVE */

@media all and (max-width: 768px) {
  .wrapper {
    width: 80%;
    margin: 0 auto;
  }

  .left {
    width: 105%;
    height: 160px;
    border: 1px solid rgb(211, 206, 206);
    padding: 3px;

    margin-bottom: 10px;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    line-height: 1.3;
    justify-content: center;
    align-items: center;
  }
  .left img {
    width: 300px;
    float: left;
  }
  .left p {
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
  }
}

@media all and (max-width: 510px) {
  .wrapper {
    width: 75%;
    margin: 0 auto;
  }
  .header {
    display: block;
    margin-top: 0 auto;
  }

  .header ul {
    display: none;
  }

  .name1 {
    font-size: 24px;
    text-decoration: none;
    color: black;
    margin-left: 150px;
  }
  .hidden {
    display: inline-block;
    height: 10px;
    padding: 100px;
    padding-top: 0;
    padding-left: 0;
    border: 1px solid #ddd;
    text-align: left;
    width: 80%;
    position: relative;
    left: 1%;
    right: 10%;
  }

  .hidden ul li {
    margin-right: 10px;
    list-style-type: none;
    padding: 4px 10px;
    border-bottom: 1px solid #ddd;
  }

  .hidden ul li a {
    text-decoration: none;
  }
  .hidden ul li.active {
    background-color: #428bca;
    text-decoration: none;
    color: white;
  }

  .hiddenul li:last-child {
    border-bottom: none;
  }

  .left {
      display: inline-block;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    padding-right: 45px;
    text-align: center;
  }
  .left img {
    width: 111%;
  }
  .left p{
      padding-left: 30px;
  }
 
  .image img {
    width: 94%;
    border: 1px solid rgb(211, 206, 206);
    padding: 30px;
    height: 200px;
    margin-left: 15px;
    margin-right: 20px;
  }

}
