body{
    background-image: url("images/faux.jpg");
    color: white;
    background-size: cover;
}

h1{
    text-align: center;
}
img{
    box-sizing: border-box;
    width: 300px;
    float:left;
}
div .red{
    background-color: red;
}

div .blue{
    font-size: 32px;
    background-image: url("images/walid.jpg");
    background-position: left;
}