/* .list {
    background-color: brown;
}

.newClass{
    background-color: chartreuse;
}

.hello{
    background-color: chocolate;
    text-transform: lowercase;
} */

/* .active{
    background-color: coral;
} */

body{
    color: cornsilk;
    background-image: url("beer1.jpg");
    background-position: center;
    background-repeat;
    background-size:cover;
}

h1{
    text-align: center;
    font-family: 'Righteous', cursive;
}

.abou{
    background-color:transparent;
    padding: 30px;
}