/* .list {
    background-color: brown;
}

.newClass{
    background-color: chartreuse;
}

.hello{
    background-color: chocolate;
    text-transform: lowercase;
} */

.active{
    background-color: coral;
}